/assets/*
/files/*
protected/runtime/*
.idea
protected/.vagrant
protected/bower_components
protected/node_modules
protected/vendor/*
protected/.sass-cache
css/main.css
css/libs/erp.css
js/erp.js
js/erp.min.js
js/main.js
js/libs/jquery
js/libs/fancyBox
js/libs/jquery-ui
js/libs/dynatree
js/libs/jquery-file-upload
js/libs/jquery-ui-contextmenu
js/libs/lodash
js/libs/log4javascript
js/libs/throttle-debounce
js/libs/ui-touch-punch
js/libs/classie
js/libs/socket.io
js/libs/moment
js/libs/FileSaver
js/libs/Blob
js/libs/backbone
js/libs/bootstrap
js/libs/bootstrap-switch
protected/config/main_production.php
protected/.ftppass

protected/review.txt
js/libs/async
js/libs/jssha