/assets/*
/files/*
protected/runtime/*
.idea
protected/.vagrant
protected/bower_components
protected/node_modules
protected/vendor/*
protected/.sass-cache
css/main.css
css/libs/erp.css
js/erp.js
js/erp.min.js
js/main.js
js/libs/fileDownload
js/libs/jquery
js/libs/jquery-ui
js/libs/jquery-ui-contextmenu
js/libs/json_parse
js/libs/lodash
js/libs/log4javascript
js/libs/throttle-debounce
js/libs/toggle-buttons
js/libs/ui-touch-punch
js/libs/classie
js/libs/socket.io
js/libs/moment
protected/config/main_production.php


