.filter-mock-no-edit{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    z-index: 2;
}

.filter-item{
    position: relative;
    padding-right: 8px;
    display: inline-block;
    vertical-align: bottom;
}
