.fm-email-send,
.fm-wizard-task{
    color:#c49f70!important;
    text-decoration: underline!important;
    font-size: 20px;
    cursor: pointer;
}

.fm-link {
    color: #08c !important;
    text-decoration: none;
}
.fm-link:hover {
    cursor: pointer;
    text-decoration: underline;
}
