
.grid-column-searched-red{
    background: #FFB8B6 !important;
}

.grid-column-searched-green{
    background: #B3E8A5  !important;
}
.grid-column-searched-yellow{
    background: #FDFD6E!important;
}
.grid-column-search{
    box-sizing: border-box;
    margin-left: 3px;
   border: 1px solid #D0DBE3 !important;
    &:focus{
        outline: none;
    }
}
$blue-color: #0072c6;
.menu-button-selected{
    border-color: $blue-color!important;
    background-color: #dfedfa!important;
}
.menu-button.active {
    color: $blue-color;
    opacity: 1;
    &:hover {
        @extend .menu-button-selected
    }
}
.menu-button {
    text-align: center;
    display: inline-block;
    padding: 0;
    border: 1px solid #ddd;
    height: 19px;
    width: 95px;
    background: transparent;
    line-height: 18px;
    position: relative;
    box-sizing: content-box;
    float: none;
    vertical-align: bottom;
    cursor: default;
    color: #8c8c8c;
    opacity: 0.5;
    outline: none;
    &:focus {
        text-align: center;
        display: inline-block;
        padding: 0;
        font-size: 12px !important;
        width: 95px;
        background: transparent;
        line-height: 18px;
        position: relative;
        box-sizing: content-box;
        float: none !important;
//        vertical-align: middle;
        cursor: default;
        outline: none;
    }
}

.filter-button{
    margin-top: 2px;
    height: 22px;
    margin-right: 2px;
}
.menu {
    height: 43px;
    padding: 0;
    margin: 0 0 5px 0;
}

.menu-border-green {
    height: 21px;
    top: -1px;
    left: -1px;
    width: 7px;
    display: inline-block;
    position: absolute;
    background: #8DC897;
}
.grid-message,
.grid-message .alert{
    height: 21px;
}
.menu-button-save.active {
    color: #E17769 !important;
    border: 1px solid #E17769 !important;
    font-weight: bold;
}
.expand-hidden{
    display: none!important;
    height: 0!important;
}
.expand-card-visible{
    top:0!important;
    left: 0!important;
    width: 100%!important;
    height: 100%!important;
    .card-input{
        height: 100%!important;
        >section{
            height: 100%!important;
        }
    }
}

.section-grid .menu {
    margin: 0 4px 6px 0;
    overflow: hidden;
}