$small: 1152px;
$medium: 1366px;
$large: 1680px;

@mixin respond-to($media) {
    @if $media ==  small-screens {
        @media only screen and (max-width: $small) {
            @content;
        }
    } @else if $media == medium-screens {
        @media only screen and (min-width: $small + 1) and (max-width: $medium - 1) {
            @content;
        }
    } @else if $media == wide-screens {
        @media only screen and (min-width: $medium + 1) and (max-width: $large - 1) {
            @content;
        }
    } @else if $media == max-screens {
        @media only screen and (min-width: $large) {
            @content;
        }
    }
}

@mixin editable-popup($width, $height) {
    height: $height;
    width: $width;
    margin-top: -$height/2;
    margin-left: -$width/2;
    .editable-input {
        height: $height - 80px;
        width: $width;
    }
    textarea {
        height: $height - 90px;
        width: $width - 10px;
    }
    .wysihtml5-sandbox {
        height: $height - 120px !important;
    }
}

$border-color: #c0c0c0;
.editable-popup {
    textarea {
        font-family: 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
        font-size: 1em;
        border: 1px solid $border-color;
        outline: none;
        box-sizing: border-box;
    }

    max-width: none !important;
    border: 1px solid $border-color;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    display: table;
    z-index: 9002;

    @include respond-to(small-screens) {
        @include editable-popup(750px, 450px)
    }
    @include respond-to(medium-screens) {
        @include editable-popup(990px, 540px)
    }
    @include respond-to(wide-screens) {
        @include editable-popup(1200px, 630px)
    }
    @include respond-to(max-screens) {
        @include editable-popup(1400px, 730px)
    }
}

@mixin dialog($width, $height) {
    .widget-tree, .widget-panel {
        height: $height - 70px;
    }

    .ui-dialog-content {
        height: $height !important;
        width: $width !important;
    }

    .wizard-text,
    .widget-editable-input {
        width: $width - 15px;
        height: $height - 90px;
    }
    margin-top: -$height/2;
    margin-left: -$width;
    height: $height !important;
    width: $width !important;
}

.wizard-dialog {
    .wizard-text,
    .widget-editable-input {
        border: 1px solid $border-color;
        box-sizing: border-box;
        font-family: 'Segoe UI', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
        font-size: 1em;
        outline: 0;
        margin-left: 10px;
        text-indent: 0;
    }
    .wizard-text {
        line-height: 20px;
    }
    position: fixed;
    left: 50%;
    top: 50%;
    display: table;
    z-index: 9002;
    box-sizing: border-box;

    @include respond-to(small-screens) {
        @include dialog(750px, 450px)
    }
    @include respond-to(medium-screens) {
        @include dialog(990px, 540px)
    }
    @include respond-to(wide-screens) {
        @include dialog(1200px, 630px)
    }
    @include respond-to(max-screens) {
        @include dialog(1400px, 730px)
    }

}

.ui-menu.ui-widget.ui-widget-content {
    border: 1px solid $border-color;
}

.bootstrap-wysihtml5-insert-link-modal,
.bootstrap-wysihtml5-insert-image-modal {
    height: 20px;
}

.wizard-dialog .ui-dialog-content {
    margin: 0 3px;
    overflow: hidden;
}

.widget-editable-input {
    padding: 2px;
}
.refresh-dialog,
.refresh-dialog .ui-dialog-content {
    height: 110px !important;
    width: 400px !important;
}
.wizard-check-con{
    margin-top: 15px;
}